
<div class="row">
    <div class="col-md-8">
        <h3 class="mb-3 text-center">Персональная библиотека блюд</h3>
        <div class="row align-items-center">
            <div class="col-md-3">
                <h4>Продукт</h4>
            </div>
            <div class="col-md-2">
                <h4>Ккал</h4>
            </div>
            <div class="col-md-2">
                <h4>Белки</h4>
            </div>
            <div class="col-md-2">
                <h4>Жиры</h4>
            </div>
            <div class="col-md-2">
                <h4>Углеводы</h4>
            </div>
        </div>
        <hr />
        <div *ngFor="let p of libraryService.personalDishes ; let index = index">
            <div id="dishConteiner" class="row align-items-center">
                <div class="col-md-3">
                    <p>{{p.dishName}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.calories}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.protein}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.fat}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.carbohydrate}}</p>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-danger" (click)="deleteComponent(index)"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3 offset-7">
                    <a id="addButton" class="btn btn-info" (click)="navigateDish()">Добавить блюдо</a>
                </div>
                <div class="col-md-2">
                    <a id="addButton" class="btn btn-success" (click)="onSave()">Сохранить</a>
                </div>
            </div>
        </div>
    </div>

</div>

