<div class="row" >
    <div class="col-md-7">
        <h3 class="text-md-center">Добавить прием пищи</h3>
        <form class="card card-body bg-light">
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <div>
                <h3 class="text-center">Состав блюд</h3>
                <div>
                    <div class="row mb-0">
                        <div class="col-md-6">
                            <h5>Блюдо</h5>
                        </div>
                        <div class="col-md-4">
                            <h5>Вес, г.</h5>
                        </div>
                        <hr />
                    </div>
                    <div class="row  align-items-center" *ngFor="let p of userService.meal.mealItems; let index = index;">
                        <div id="productNameContainer" class="col-md-6">
                            <p>{{p.dish.dishName}}</p>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control d-inline" type="number" value="{{p.dishWeightG}}" name="a{{index}}" [(ngModel)]="userService.meal.mealItems[index].dishWeightG" />
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-danger"><i class="fas fa-trash" (click)="deleteComponent(index)"></i></a>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-1 offset-10">
                            <a class="btn btn-info" (click)="navigateUserMenu()"><i class="fas fa-plus-circle"></i></a>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <a class="btn btn-success col-md-4 offset-8 mt-md-2" (click)="saveMeal()">Сохранить</a>
        </form>
    </div>
</div>