
<!--<div class="row">
    <div class="col-md-6">
        <div >
           
            <table class="table">
                <thead>
                    <tr>
                        <td>Продукт</td>
                        <td>Каллорийность</td>
                        <td>Белки</td>
                        <td>Жиры</td>
                        <td>Углеводы</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productService.products">
                        <td id="prodName">{{p.productName}}</td>
                        <td>{{p.calories}}</td>
                        <td>{{p.protein}}</td>
                        <td>{{p.fat}}</td>
                        <td>{{p.carbohydrate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4>Продукт</h4>
            </div>
            <div class="col-md-2">
                <h4>Ккал</h4>
            </div>
            <div class="col-md-2">
                <h4>Белки</h4>
            </div>
            <div class="col-md-2">
                <h4>Жиры</h4>
            </div>
            <div class="col-md-2">
                <h4>Углеводы</h4>
            </div>
            <hr />
        </div>
        <div id="productTable" class="row" *ngFor="let p of productService.products">
            <div class="col-md-4">
                <p>{{p.productName}}</p>
            </div>
            <div class="col-md-2">
                <p>{{p.calories}}</p>
            </div>
            <div class="col-md-2">
                <p>{{p.protein}}</p>
            </div>
            <div class="col-md-2">
                <p>{{p.fat}}</p>
            </div>
            <div class="col-md-2">
                <p>{{p.carbohydrate}}</p>
            </div>
            <hr />
        </div>
    </div>
    <div  class="row">
        <div class="col-md-3 offset-6">
            <a id="addButton" class="btn btn-success" routerLink="create">Добавить продукт</a>
        </div>
    </div>

</div>


