
#mainHeader i {
    margin: 0px 3px 0px 3px
}

#mainHeader button {
    margin-right: 4px;
}

#mainFooter p {
    margin:0px;
}

#mainFooter a::after{
    content: " |";
}
#mainFooter a:last-of-type::after {
    content: "";
}

#secondNavbar ul {
    margin-left: 3px;
    
}

