<div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h4>Продукт</h4>
            </div>
            <div class="col-md-2">
                <h4>Ккал</h4>
            </div>
            <div class="col-md-2">
                <h4>Белки</h4>
            </div>
            <div class="col-md-2">
                <h4>Жиры</h4>
            </div>
            <div class="col-md-2">
                <h4>Углеводы</h4>
            </div>
        </div>
        <hr />
        <div *ngFor="let p of libraryService.dishes; let index = index">
            <div id="dishConteiner" class="row align-items-center" (click)="getDishToUpdate(index)" routerLink="update">
                <div class="col-md-4">
                    <p>{{p.dishName}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.calories}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.protein}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.fat}}</p>
                </div>
                <div class="col-md-2">
                    <p>{{p.resourseSpecification.dishValue.carbohydrate}}</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-9">
            <a id="addButton" class="btn btn-success" (click)="setEmptyDish()" routerLink="create">Добавить блюдо</a>
        </div>
    </div>

</div>

