<p>{{loginService.user | json}}</p>

<!--<p>{{loginService.user.weightConditions | json}}</p>
<p>{{loginService.user.targets | json}}</p>
<p>{{loginService.user.meals | json}}</p>


<h3>Diary page</h3>


<form>
    <div>
        <label>Имя</label>
        <input name="name" [(ngModel)]="loginService.user.name" value="{{loginService.user.name}}" />
    </div>
    <div>
        <label>Возраст</label>
        <input name="age" [(ngModel)]="loginService.user.age" value="{{loginService.user.age}}" />
    </div>
    <div>
        <label>Гендер</label>
        <input name="gender" [(ngModel)]="loginService.user.gender" value="{{loginService.user.gender}}" />
    </div>

    
</form>-->
